:host{
  position: sticky;
  top: 0;
  width: 100%;
  height: 3em;
  background: #2D3541;
  display: block;
}
.topMenu{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logout{
  margin-right: 1.5em;
  cursor: pointer;
}
.logout svg {
  color: #f5f7fa;
}
.logout :hover{
  opacity: 0.5;
}
