html, body, #root{
    height: 100%;
}
.container{
    margin: 0 5px;
    display: flex;
    align-items: flex-start;
}

.rightPanel{
    width: 100%;
    height: 100%;
}
.content{
    background: blueviolet;
    width: 100%;
    height: calc(100% - 50px);
}
