:host{
  width: 20em;
  height: 100vh;
  border-right: 1px ridge black ;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  background-color: #F5F5F5;
  text-align: center;
}
.avatar {
  margin-top: 3em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: #f5f7fa;
}

.name {
  margin-top: 1em;
  font-weight: normal;
}

.designation {
  margin-top: 0.5em;
  font-size: 0.7rem;
}
